.aboutme-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    @include respond($large){
        grid-template-columns: 1fr;
        column-gap: 0;

        img{
            margin-bottom: 0.6rem;
        }
    }
}

.aboutme-info{
    display: grid;
    grid-template-columns: 1fr 1.2fr;

    @include respond($large){
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}