*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 44px;
    font-weight: 500;
    color: $primary;
    line-height: 2.5rem;
}

h2{
    font-size: 36px;
    font-weight: 500;
    color: $primary;
    line-height: 2.7rem;
}

h3{
    font-size: 22px;
    font-weight: 500;
    color: $primary;
    padding-bottom: 1rem;
}

p,
.short-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7rem;
    color: $secondary;
    padding: 0.5rem 0;
    text-align: justify;
}

p>b{
    color: $primary;
    font-weight: 500;
}

a{
    text-decoration: none;
}

