// -----------------------------
// Color Variables
// -----------------------------

$text-primary : #000000;
$primary : #4c6280;
$secondary : #7d93b2;
$background-primary : #e1e5e8;
$background-secondary : #eff6ff;
$white : #ffffff;


// -----------------------------
// Screen break-points Variable
// -----------------------------

$extra-small : "320px";
$small : "480px";
$medium : "768px";
$large : "1024px";
$extra-large : "1280px";


